<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>LibreríaDH</title>
</head>
<body>
    <p align="center">
        <img src="https://www.digitalhouse.com/ar/logo-dh-blanco.png" width="300">
    </p>
    <h1 align="center">Libros</h1>

    <div class="card">
        <img src="https://png.pngtree.com/element_our/20190528/ourlarge/pngtree-three-books-a-stack-of-books-png-free-image_1181753.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>100 años de soledad</b></h4>
            <p>Gabriel García Marquez</p>
        </div>
    </div>
    <div class="card">
        <img src="https://png.pngtree.com/element_our/20190528/ourlarge/pngtree-three-books-a-stack-of-books-png-free-image_1181753.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Ficciones</b></h4>
            <p>Jorge Luis Borges</p>
        </div>
    </div>
    <div class="card">
        <img src="https://png.pngtree.com/element_our/20190528/ourlarge/pngtree-three-books-a-stack-of-books-png-free-image_1181753.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Dracula</b></h4>
            <p>Bram Stoker</p>
        </div>
    </div>
    </div>
</body>
</html>